@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300|Love+Ya+Like+A+Sister');

body {
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
}

.container {
	width: 924px;
	margin: 0 auto;
	padding: 30px 24px;
}

header.main nav ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

header.main nav ul li {
	display: inline-block;
	padding: 0 20px;
}

header.main nav ul li a {
	text-decoration: none;
	color: #d17f38;
	font-weight: bold;
	text-transform: uppercase;
}

#logo a {
	display: block;
	width: 292px;
	height: 141px;
	background: url('../images/logo.png') center center no-repeat;
	text-indent: -9999px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}



h1, h2 {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #d17f38;
	font-size: 40px;
	font-weight: normal;
	line-height: 44px;
	margin: 0;
}

h1 {
	text-align: center;
	padding: 0 0 20px;
}

h1 em {
	color: #4b2707;
	font-style: normal;
}

p.lead {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin: 10px 0;
}

#hero {
	background: #e8c04f;
}

#hero .container {
	position: relative;
}

#hero .large-ribbon {
	height: 190px;
	width: 150px;
	background: url('../images/fresh-whole-ingredients.png') top left no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: -23px;
	right: -30px;
}

#story-excerpt {
	width: 530px;
	margin-right: 24px;
	float: left;
	font-size: 16px;
}

#best-donut {
	background: url('../images/award.png') left center no-repeat;
	padding: 30px 0 30px 130px;
	width: 240px;
	float: left;
}

#articles {
	width: 370px;
	float: left;
	margin-right: 24px;
}

#feature-image {
	width: 530px;
	float: left;
}

hr {
	border: none;
	height: 33px;
	width: 333px;
	margin: 30px auto;
	background: url('../images/divider.png') center center no-repeat;
}

